extends layout

block content
  
  .col-12.text-center.my-2
    h2= `People: ${people.name}`
  
  .col-6.mx-auto.shadow.rounded.p-3.mt-3
    .row
      .col-4.text-right.font-weight-bold Name
      .col-8.border-left.text-capitalize= people.name
      .col-4.text-right.font-weight-bold Gender
      .col-8.border-left.text-capitalize= people.gender
      .col-4.text-right.font-weight-bold Hair Color
      .col-8.border-left.text-capitalize= people.hair_color
      .col-4.text-right.font-weight-bold Skin Color
      .col-8.border-left.text-capitalize= people.skin_color
      .col-4.text-right.font-weight-bold Eye Color
      .col-8.border-left.text-capitalize= people.eye_color
      .col-4.text-right.font-weight-bold Height
      .col-8.border-left.text-capitalize= people.height
      .col-4.text-right.font-weight-bold Homeworld
      .col-8.border-left.text-capitalize= people.homeworld

  block goback
    .row.pt-3
      .col-1.mx-auto
        a(href=`javascript:history.back()` title=`Go Back`)
          i.fa.fa-arrow-circle-left.fa-4x
