extends layout

block content
  
  .col-12.text-center.my-2
    h2= `Planet: ${planet.name}`
  
  .col-6.mx-auto.shadow.rounded.p-3.mt-3
    .row
      .col-4 Terrain
      .col-8.border-left= planet.terrain
      .col-4 Gravity
      .col-8.border-left= planet.gravity
      .col-4 Diameter
      .col-8.border-left= planet.diameter
      .col-4 Population
      .col-8.border-left= planet.population
  
  .row.pt-3
    .col-1.mx-auto
      a(href=`javascript:history.back()` title=`Go Back`)
        i.fa.fa-arrow-circle-left.fa-4x